<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>WeWorkOut</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/js/logic.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>