@media screen and (max-width: 1003px) {

	html {
		height: 100%;
	}

	body {
	  	background: black;
		font-family: 'Lato', sans-serif;
		background-image: url('../img/signIn.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 20%;
		color: #212121;
		font-size: 20px;
		box-sizing: border-box;
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		background-attachment: fixed;
	    overflow-x: hidden;
	    overflow-y: scroll;
	}

	textarea {
		width: 97%;
		min-height: 150px;
		resize: none;
		font-family: 'Lato', sans-serif;
		font-size: 20px;
	}

	input[name="email"], input[type="password"], textarea, input[type="number"], input[name="location"], select, #dob {
		border: 1px #ddd solid;
		padding: 5px;
		margin: 3px;
		font-family: 'Lato', sans-serif;
	}

	.activityFlexDiv {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		width: 90%;
	}

	.actEnt{
		flex: 1;
		min-width: 134px;
	}

	#dob {
		width: 160px;
	}

	select[name="gender"] {
		width: 100px;
	}

	input[type="number"], select[name="gender"], input[name="location"], #dob {
		font-size: 20px;
		padding: 0;
	}

	input[name="location"] {
		width: 150px;
	}

	input[name="email"], input[type="password"] {
		margin: 10px;
		width: 80%;
	}

	#age {
		width: 30px;
	}

	input[type="number"] {
		width: 50px;
	}

	header, footer {
		position: fixed;
		width: 100%;
		background-color: white;
		height: 70px;
		box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
		z-index: 500;
	}

	header {
		top: 0;
	}

	.headerDiv svg {
		font-size: 40px;
	}

	footer {
		bottom: 0;
		display: flex;
		justify-content: center;
	}

	h3 {
		font-weight: 900;
	}

	h4 {
		font-size: 1.3em;
		font-weight: 600;
	}

	.nameDiv {
		word-wrap: break-word;
		width: 100%;
	}

	h2{
		font-size: 1.9em;
		font-weight: 600;
	}

	input[placeholder="First Name"] {
		font-size: 2em;
		max-width: 100%;
		border: 1px #ddd solid;
	}

	break {
		display: inline-block;
		flex-basis: 100%;
		width: 0px;
		height: 0px;
		overflow: hidden;
	}

	.browserBreak {
		display: none !important;
	}

	.mobileTitle {
		margin: 10px 0 10px 0;
	}

	.actSubDiv {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		text-align: right
		padding: 15px;
	}

	.profSubDiv {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin: 0;
	}

	.activityFlex {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	/**************************chat styles*********************/

	.history {
		width: 100%;
		border: 1px #ddd solid;
	    overflow:scroll;
	    overflow-x:hidden;
	}

	.userMsg {
		background-color: #a9cbfd;
		max-width: 70%;
		float: right;
		clear: both;
		padding: 5px;
		margin: 5px;
		border-radius: 5px;
	}

	.friendMsg {
		background-color: #aaef9f;
		max-width: 70%;
		float: left;
		clear: both;
		padding: 5px;
		margin: 5px;
		border-radius: 5px;
	}

	.messageDiv {
		display: flex;
	}

	#m {
		margin-top: 3px;
		width: 100%;
		border: 1px #ddd solid;
		padding: 5px;
		font-family: 'Lato', sans-serif;
	}

	.content, .headerDiv, .abilityInput, .newKinectionsDiv, .kinectionsDiv .exhausted-options {
		display: flex;
		justify-content: space-around;
		flex-flow: row wrap;
	}

	.secTitle {
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.content, .newKinectionsBench {
		/*background-color: rgba(255,255,255,.5);*/
		margin-top: 70px;
		margin-bottom: 20px;
		max-width: 1100px;
		width: 100%;
	  	position:relative;
	}

	.newKinectionsBench, .kinectionsBench {
		max-width: 85%;
	}

	.content {
		margin-bottom: 70px;
	}

	.rejected{
	  background-color: red;
	}

	.kinnected{
	  background-color: green;
	}

	.newKinectionsBench {
		/*margin-top: 100px;*/
	}

	.kinectionsBench {
		/*background-color: rgba(255,255,255,.5);*/
		/*margin: 20px 100px 10px 100px;*/
		/*margin-top: 70px;*/
		margin-bottom: 70px;
		/*max-width: 1100px;*/
		width: 100%;
	}

	.imgPlace {
		background-color: #ddd;
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.imageForm {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	.userImg {
		width: 100%;
		height: 350px;
	}

	.loginLogo {
		width: 90px;
		margin-bottom: 10px;
	}

	.headLogo, .headLogoActive {
		max-width: 70px;
		max-height: 70px;
	}

	.headLogo:hover {
		background-color: #eee;
		border-radius: 50%;
	}

	.headLogo:focus {
		outline:0;
	}

	button:focus {outline:0;}

	.headLogoActive {
		border-bottom: 3px solid #eee;
	}

	.benchTitle {
		display: inline-block;
		padding: 5px;
		margin-top: 10px;
		margin-left: 10px;
		background-color: white;
		min-width: 120px;
		text-align: center;
	}

	.noKinections, .noRecommend {
		background-color: white;
    	text-align: center;
    	padding: 20px;
    	margin: 20px;
	}

	.noKinections {
    	font-weight: 600;
    	min-width: 170px;
	}

	/*****************************button styles****************************/

	.signUp, .signIn, #kinect, #reject, #submitActivities {
		cursor: pointer;
		border: none;
		color: white;
		padding: 10px;
		margin: 10px;
		font-size: .9em;
	}

	.keepSwiping {
		cursor: pointer;
		border: none;
		color: white;
		padding: 10px;
		font-size: .9em;	
	}

	#continue {
		background-color: #fff;
		padding: 10px;
		text-decoration: none;
		color: #212121;
	}

	input[name="profileSubmit"], #viewChat, #viewBio {
		width: 100%;
		cursor: pointer;
		border: none;
		color: white;
		padding: 10px;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-left: 20px;
		font-size: .9em;
	}

	input[type="range"] {

	}

	.profileLink, .judgementLink, .matchesLink {
		cursor: pointer;
		border: none;
		background: transparent;
	}

	.signUp, input[name="profileSubmit"], #viewChat, #viewBio {
		background-color: #6a7afb;
	}

	.signIn, #kinect, #submitActivities, #messageSend, #imgUploadBtn, .keepSwiping {
		background-color: #66ab5f;	
	}

	#messageSend, #imgUploadBtn, #clear {
		cursor: pointer;
		border: none;
		color: white;
		padding: 10px;
		font-size: .9em;
	}

	#messageSend {
		margin-top: 3px;
	}

	#clear, #imgUploadBtn {
		width: 50%;
	}

	#imgUploadForm {
		width: 100%;
		display: flex;
	}

	#submitActivities {
		text-decoration: none;
		margin-top: 10px;
	}

	#kinect, #reject {
		font-size: 2em;
		font-weight: 700;
		/*padding: 20px;*/
	}

	#reject, #clear {
		background-color: #fa7070;
	}

	#search, #returnMatch, #logout {
		cursor: pointer;
		position: fixed;
		z-index: 501;
		background-color: white;
		padding: 7px;
		border-radius: 50%;
		color: #212121;
		top: 100px;
	}

	#mobileSearch {
		margin-top: 16px;
		background-color: white;
		padding: 7px;
		border-radius: 50%;
		color: #212121;
		border: 2px solid #212121;
	}

	#mobileLogout {
		margin-top: 16px;
		background-color: white;
		padding: 6px;
		border-radius: 50%;
		color: #212121;
		border: 2px solid #212121;
		height: 38px;
		width: 38px;
		text-align: center;
		box-sizing: border-box;
	}

	.nRTitle {
		margin-bottom: 20px;
		font-size: 1.3em;
	}

	.search {
		/*display: none;*/
		cursor: pointer;
		color: #212121;
		border-radius: 50%;
		text-decoration: none;
		font-style: italic;
		font-weight: 600;
	}

	#search, #logout {
		right: 20px;
		display: none;
	}

	#returnMatch {
		left: 20px;
	}

	#addActivities {
		color: #212121;
	}

	#exhausted-options {
		/*background-color: white;*/
		width: 50%;
		padding: 20px;
		margin: 20px;
	}

	.m2 {
		color: #555;
	}

	.exhausted-options {
		/*background-color: rgba(255,255,255,.5);*/
		margin-bottom: 300px;
	}

	.signInPanel {
		margin-bottom: 50px;
		text-align: center;
		width: 14%;
		height: 34%;
		font-weight: 800;
		background-color: rgba(255,255,255,.5);
		padding: 20px;
		min-width: 300px;
	}

	.display-none {
		display: none;
	}

	.title {
		margin-top: -60px; 
		/*have to adjust with media query*/
		/*margin-left: 100px;*/
		color: white;
		font-weight: 800;
		font-size: 68px;
    	text-shadow: 3px -2px rgba(0,0,0,.2);
	}

	.userCard, .box2, .userCard2 {
		background-color: rgba(255, 255, 255, 1);
		padding: 20px;
		margin: 20px;
	}

	.box2 {
		margin: 10px 20px 20px 20px;
	}

	.userCard {
		margin: 20px 20px 10px 20px;
	}

	.userCard, .userCard2  {
		flex: 1;
		min-width: 200px;
	}

	.userCardImg {
		width: 100%;
		/*min-width: 295px;*/
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	#matchModal > .content > h2 {
		font-size: 1.2em;
	}

	#matchModal > .content > .userCard {
		min-width: 100px;
	}

	.box2 {
		flex: 2;
	}

	.abilityDiv {
		flex: 1;
	}

	/*for modal*/
	.modalDialog {
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: rgba(0, 0, 0, 0.8);
	    z-index: 99999;
	    opacity:0;
	    transition: opacity 400ms ease-in;
	    pointer-events: none;
	}
	.modalDialog:target {
	    opacity:1;
	    pointer-events: auto;
	}
	.modalDialog > div {
	    width: 82%;
	    position: relative;
	    margin: 10% auto;
	    padding: 5px 20px 13px 20px;
	    background: #fff;
	}
	#matchModal:target {
	    opacity:1;
	    pointer-events: auto;
	}
	#matchModal > .content {
		align-items: center;
		background-color: rgba(0,0,0,0);
		max-width: 800px;
	}
	#matchModal {
		padding: 50px;
		overflow: scroll;
	}
	.matchLogo {
		max-width: 90px;
		max-height: 90px;
	}
	.content > h2 {
		color: white;
	}
	#matchModal {
		position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: rgba(0, 0, 0, 0.8);
	    z-index: 99999;
	    opacity:0;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    transition: opacity 300ms ease-in;
	    pointer-events: none;
	}
	#matchModal > .close {
		right: 150px;
		top: 150px;
	}
	.close {
	    background: #fff;
	    color: #212121;
	    line-height: 25px;
	    position: absolute;
	    right: -12px;
	    text-align: center;
	    top: -10px;
	    width: 24px;
	    text-decoration: none;
	    font-weight: bold;
	    -webkit-border-radius: 12px;
	    -moz-border-radius: 12px;
	    border-radius: 12px;
	    box-shadow: 1px 1px 3px #000;
	}
	.close:hover {
	    background: #eee;
	}

	.slider {
		-webkit-appearance: none;
		appearance: none;
		height: 10px;
		border-radius: 5px;
		background: #212121;
		opacity: .7;
		outline: none;
		width: 30%;
	}

	.slider:hover{
		opacity: 1;
	}

	/* pic testin */
	#changingPic {
	  height: 100vh;
	  width: 100%;
	  margin-left: auto;
	  margin-right: auto;
	  position: fixed;
	  bottom: 0;
	  left: 0;
	  z-index: -1;
	  background-size: cover;
	}

	#changingPic img.opaque {
	    opacity:1;
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    filter: alpha(opacity=1);
	  }

	  .shadow {
	    margin-bottom: 10px;
	  }

	  #changingPic img {
	    transition: opacity 1s ease-in-out;
	    opacity:0;
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    filter: alpha(opacity=0);
	    height: 100vh;
	    /*width: 100%;*/
	    position: fixed;
	    bottom: 0;
	    /*left: -50%;*/
	    z-index: -1;
	    background-size: cover;
	  }

	/* pic testing ends */

	#loader_judgement{
		position: absolute;
		top: 250px;
	}

	#loader_judgement > img {
		max-width: 300px;
		max-height: 300px;
		opacity: .5;
	}

	#loader{
		display: none;
	}

	.rejectKinnectButton {
	   cursor: pointer;
	   border: none;
	   color: white;
	   padding: 10px;
	   margin: 10px;
	   font-size: .9em;
	  text-decoration: none;
	}
}
