body {
	background-image: url('../img/Golf.jpeg');
  /* url("../img/crunch.jpg"),
  url("../img/bikes.jpg"),
  url("../img/tennis.jpg"),
  url("../img/hiking.jpeg"),
  url("../img/highFive.jpg"),
  url("../img/weights.jpeg"),
  url("../img/yoga.jpeg"),
  url("../img/weightBar.jpeg"),
  url("../img/Golf.jpeg"),
  url("../img/streching.jpeg"),
  url("../img/jumpRope.jpeg"); */
  -webkit-transition: background-image 0.5s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 130px;
	resize: none;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

input[name="email"], input[type="password"], textarea, input[type="number"], select[name="gender"], input[placeholder="First Name"], input[name="location"], select {
	border: 1px #212121 solid;
	padding: 5px;
}

input[name="email"], input[type="password"], {
	margin: 10px;
	width: 70%;
}

#ageInput {
	width: 30px;
}

input[type="number"] {
	width: 50px;
}

header, footer {
	position: fixed;
	width: 100%;
	background-color: white;
	height: 70px;
}

header {
	top: 0;
}

footer {
	bottom: 0;
}

h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 900;
}

h2{
	font-size: 2em;
	font-weight: 600;
}

input[placeholder="First Name"] {
	font-size: 2em;
	max-width: 328px;
}

break {
	display: inline-block;
	flex-basis: 100%;
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.content, .headerDiv, .abilityInput {
	display: flex;
	justify-content: space-around;
}

.content {
	background-color: rgba(255,255,255,.5);
	/*not reactive*/
	margin: 120px 250px;
	flex-flow: row wrap;

}

.imgPlace {
	background-color: #ddd;
	width: 100%;
	padding-top: 80%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imageForm {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.centerCropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100%;
  width: 100%;
}

.userImg {
	width: 100%;
	height: 350px;
}

.loginLogo {
	width: 90px;
	margin-bottom: 10px;
}

.headLogo {
	max-width: 70px;
	max-height: 70px;
}

.signUp, .signIn, #profile, #kinections, #kinect, #reject, input[name="profileSubmit"], #logout {
	border: none;
	color: white;
	padding: 10px;
	margin: 10px;
	font-size: .9em;
}

.signUp, #profile {
	background-color: #6476fa;
}

.signIn, #kinections, #kinect, input[name="profileSubmit"] {
	background-color: #66ab5f;
}

#kinect, #reject {
	font-size: 2em;
	font-weight: 700;
	padding: 20px;
}

#logout, #reject {
	background-color: #fa7070;
}

.signInPanel {
	margin: 12% auto;
	text-align: center;
	width: 14%;
	height: 34%;
	font-weight: 800;
	background-color: rgba(255,255,255,.5);
	padding: 20px;
	/*this isn't responsive*/
	min-width: 300px;
}

.title {
	margin-top: -133px;
	/*have to adjust with media query*/
	margin-left: 100px;
	color: white;
	font-weight: 800;
	font-size: 150px;
}

.box1, .box2 {
	background-color: rgba(255, 255, 255, 1);
	margin: 100px;
	padding: 20px;
	margin: 20px;
}

.box1 {
	flex: 1;
}

.box2 {
	flex: 2;
}

.abilityDiv {
	flex: 1;
}

/*for drop checkboxes*/
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  position: fixed;
  border: 1px #212121 solid;
  z-index: 100;
  background-color: white;
  padding: 5px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #ddd;
}

/* pic testin */
#changingPic {
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
}

/* pic testing ends */


/* loading indicator start*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

.loaderContainer{
      padding-left: 95px;
}

    /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* loading indicator end */
