body {
	/*font-family: 'Nanum Gothic', sans-serif;*/
	font-family: 'Lato', sans-serif;
	background-image: url('../img/signIn.jpg');
	/*breaks at smaller widths*/
	background-size: 120%;
	background-repeat: no-repeat;
	background-position: inherit;
	color: #212121;
	font-size: 20px;
	box-sizing: border-box;
	height: 100%;
}

textarea {
	width: 100%;
	height: 130px;
	resize: none;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

input[name="email"], input[type="password"], textarea, input[type="number"], select[name="gender"], input[placeholder="First Name"], input[name="location"], select {
	border: 1px #212121 solid;
	padding: 5px;
}

input[name="email"], input[type="password"], {
	margin: 10px;
	width: 70%;
}

#ageInput {
	width: 30px;
}

input[type="number"] {
	width: 50px;
}

header, footer {
	position: fixed;
	width: 100%;
	background-color: white;
	height: 70px;
}

header {
	top: 0;
}

footer {
	bottom: 0;
	z-index: -1;
}

h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 900;
}

h2{
	font-size: 2em;
	font-weight: 600;
}

input[placeholder="First Name"] {
	font-size: 2em;
	max-width: 328px;
}

break {
	display: inline-block;
	flex-basis: 100%;
	width: 0px; 
	height: 0px; 
	overflow: hidden;
}

.content, .headerDiv, .abilityInput {
	display: flex;
	justify-content: space-around;
}

.content {
	background-color: rgba(255,255,255,.5);
	/*not reactive*/
	margin: 120px 250px;
	flex-flow: row wrap;

}

.imgPlace {
	background-color: #ddd;
	width: 100%;
	/*padding-top: 80%;*/
	position: relative; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.imageForm {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.centerCropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100%;
  width: 100%;
}

.userImg {
	width: 100%;
	height: 350px;
}

.loginLogo {
	width: 90px;
	margin-bottom: 10px;
}

.headLogo {
	max-width: 70px;
	max-height: 70px;
}

.signUp, .signIn, #profile, #kinections, #kinect, #reject, input[name="profileSubmit"], #logout {
	border: none;
	color: white;
	padding: 10px;
	margin: 10px;
	font-size: .9em;
}

.signUp, #profile {
	background-color: #6476fa;
}

.signIn, #kinections, #kinect, input[name="profileSubmit"] {
	background-color: #66ab5f;
}

#kinect, #reject {
	font-size: 2em;
	font-weight: 700;
	padding: 20px;
}

#logout, #reject {
	background-color: #fa7070;
}

.signInPanel {
	margin: 12% auto;
	text-align: center;
	width: 14%;
	height: 34%;
	font-weight: 800;
	background-color: rgba(255,255,255,.5);
	padding: 20px;
	/*this isn't responsive*/
	min-width: 300px;
}

.title {
	margin-top: -133px;
	/*have to adjust with media query*/
	margin-left: 100px;
	color: white;
	font-weight: 800;
	font-size: 150px;
}

.box1, .box2 {
	background-color: rgba(255, 255, 255, 1);
	margin: 100px;
	padding: 20px;
	margin: 20px;
}

.box1 {
	flex: 1;
}

.box2 {
	flex: 2;
}

.abilityDiv {
	flex: 1;
}

/*for drop checkboxes*/
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  position: fixed;
  border: 1px #212121 solid;
  z-index: 100;
  background-color: white;
  padding: 5px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #ddd;
}